@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --primary-color:#6366F1;
    --dark-gray: #6B7280;
    --off-white: #F3F4F6;
}


* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Open Sans',sans-serif;    
}

.row h3{
   padding-top: 4rem;
}

 .container {
    margin-top: 5rem;
    
}

.centered-container{
    width: 450px;
    max-width: 100%;
    background-color: var(--off-white);
    overflow: auto;
    border-radius: 2rem;
    text-align: center;
    font-size: 1em;
    height: 80vh;
    max-height: 100%;
    display: block;
    justify-content: center;
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 40px auto;
    align-items: center;
    border: 3px solid var(--primary-color);
}

.question-div{
    max-width: 600px;
    margin: auto;

}

.section{
  padding: 2rem;
}

.section-off-white{
  background-color: var(--off-white);
}

.navigation {
  background-color: var(--primary-color);
  color: white;
  padding: 1rem;
  border-bottom-left-radius: 2rem;
  font-weight: bold;
  font-size: 1.1rem;
  text-align: center;
}



.primary-link {
    background-color:
        var(--primary-color);
    border-radius: 0.5rem;
    color: white;
    display: block;
    max-width: 140px;
    margin: auto;
}


  
  
  .column {
    padding: 10px 10px;     
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

    
    
  }
  
  
  .row {
    display: flex;  
  
  }

  .column .card{
    width: 300px;
    margin: 10px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .input{
    border:2px solid var(--primary-color);
    padding: 1rem 0.5rem;
    margin: 1rem 1rem 1.5rem 0.2rem;
    height: 20px;
    width: 90px;
   
    
  }

  .outputArea{
    padding: 1rem 1rem 2rem 1rem;
    margin: auto; 
    margin-top: 1rem;  
    display: block;
    height: 20px;
    width: 90px;  
    border:2px solid var(--primary-color);
    background-color: white;
  }

  .button{
    display: block;
    max-width: 140px;
    border: 1px solid var(--primary-color);
    margin: 0 auto 1rem;
    text-decoration: none;
    text-align: center;
    padding: 0.5rem 1rem;
    background-color: var(--primary-color);
    color: white;
    border-radius: 1.5rem;
    cursor: pointer;
  }

  .question{
    font-weight: bold;
    font-size: 1.2rem;
  }

  .radio{
    text-align: left;
    padding: 0 0 1rem 2rem;
    font-weight: bold;
  }

  .score-div{
    max-width: 600px;
    margin: auto;
  }

  .link {
    box-sizing: border-box;
    text-decoration: none;
    padding: 0.5rem 1rem;
   
}

.list-non-bullet {
    list-style: none;
    padding-inline-start: 0px;
}



.footer{
  background-color: 
  var(--primary-color);
  padding: 2rem 1rem;
  text-align: center;
  color: white;
  border-top-right-radius: 2rem;
  margin-top: 5rem;
  
}



.list-link{
  text-decoration: none;
  color: white;
}

.footer .footer-header{
  font-weight: bold;
  font-size: large;
  padding-bottom: 1rem;
}

.footer .list-item-inline{
  margin: 0.5rem;
  padding: 0 2rem;
  display: inline-block;
}

.footer ul{
  padding-inline-start: 0px;
 
}

.fa{
  font-size: 2.3rem;
}

  
  /* Responsive columns */
  @media screen and (max-width: 540px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
      
    }
  }
  
  .card {
    box-shadow: 0 4px 8px 0 var(--primary-color);
    padding: 16px;
    text-align: center;
    background-color: var(--off-white);
    height: 45vh;
    border-radius: 0.5rem;
    max-height: 100%;
  }

 


